veriopsbot/n8n_templates/Omnichannel to CRM Contacts Sync.json
{
  "name": "Omnichannel to CRM Contacts Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1568,
        -96
      ],
      "id": "db8cd4e8-b095-4680-ae6e-a48699d5be5b",
      "name": "Webhook",
      "webhookId": "d67de0b9-5932-4850-944e-b24bf2f612b9"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\n\n// --- helpers ---\nconst CALLING_CODES = new Set([\n  '1','7','20','211','212','213','216','218','220','221','222','223','224','225','226','227','228','229',\n  '230','231','232','233','234','235','236','237','238','239','240','241','242','243','244','245','246','247','248','249',\n  '250','251','252','253','254','255','256','257','258','260','261','262','263','264','265','266','267','268','269',\n  '30','31','32','33','36','39','40','41','42','43','44','45','46','47','48','49',\n  '350','351','352','353','354','355','356','357','358','359',\n  '370','371','372','373','374','375','376','377','378','380','381','382','383','385','386','387','389',\n  '420','421','423',\n  '51','52','53','54','55','56','57','58',\n  '500','501','502','503','504','505','506','507','508','509',\n  '591','592','593','594','595','596','597','598','599',\n  '60','61','62','63','64','65','66','81','82','84','85','86','852','853','855','856','880','886',\n  '90','91','92','93','94','95','96','97','98',\n  '970','971','972','973','974','975','976','977','979',\n  '672','673','674','675','676','677','678','679','680','681','682','683','684','685','686','687','688','689','690','691','692',\n  '800','808','870','878','881','882','883','888','979'\n]);\n\nconst splitByCallingCode = (raw) => {\n  if (!raw || typeof raw !== 'string') return { callingCode: '', phone: '' };\n  const cleaned = raw.trim().replace(/[^\\d+]/g, '');\n  if (!cleaned.startsWith('+')) return { callingCode: '', phone: cleaned.replace(/\\D/g, '') };\n  const digits = cleaned.slice(1).replace(/\\D/g, '');\n  for (const len of [3,2,1]) {\n    const cc = digits.slice(0, len);\n    if (CALLING_CODES.has(cc)) return { callingCode: cc, phone: digits.slice(len) };\n  }\n  return { callingCode: '', phone: digits };\n};\n\nconst withPlus = (cc) => cc ? `+${cc.replace(/^\\+/, '')}` : '';\n\n// --- source data (single webhook item) ---\nconst body    = $input.first()?.json?.body ?? {};\nconst email   = body.email ?? '';\nconst phoneNowRaw = body.phone_number ?? '';\n\n// changed_attributes (order can vary)\nconst changes = Array.isArray(body.changed_attributes) ? body.changed_attributes : [];\nconst changedPhone = changes.find(x => x.phone_number)?.phone_number;\nconst phonePrevRaw = changedPhone?.previous_value ?? null;\n\n// --- parse current & previous ---\nconst now  = splitByCallingCode(phoneNowRaw);\nconst prev = splitByCallingCode(phonePrevRaw);\n\n// --- build output (with + on both calling codes) ---\nconst out = {\n  email,\n  e164phone: {\n    callingCode: withPlus(now.callingCode),          // \"+595\" (or \"\")\n    phone:       now.phone,                          // national number only\n    phone_raw:   phoneNowRaw,\n    phone_normalized: now.callingCode ? `${now.callingCode}${now.phone}` : now.phone\n  },\n  originals: {\n    originalEmail:        changes.find(x => x.email)?.email?.previous_value ?? body.email ?? null,\n    originalCallingCode:  withPlus(prev.callingCode), // \"+595\" (or \"\")\n    originalPhone:        prev.phone                  // national number only\n  }\n};\n\nreturn [{ json: out }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        -96
      ],
      "id": "6666cd66-fcef-41cd-a161-183c68a232fc",
      "name": "e164phoneAndEmail"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "abd46b04-9cfd-4cdc-a5eb-b7a5d900f3e0",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2e8dc818-b586-4664-b765-4afcadec4e9e",
              "leftValue": "={{ $json.e164phone.phone_raw }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1120,
        -96
      ],
      "id": "3c2ad60c-6e6e-4d14-97d0-f3d4135d2e0c",
      "name": "hasEmailOrPhone"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cef382f2-5142-456b-bd65-c1bff170fc38",
              "leftValue": "={{ $('getExistContact').item.json.isEmpty() }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        -96
      ],
      "id": "0373ae08-6cb7-478e-a84d-cf82ad026a04",
      "name": "isNewContact"
    },
    {
      "parameters": {
        "jsCode": "// Inputs\nconst webhook = $('Webhook').first()?.json?.body ?? {};\nconst e164    = $('e164phoneAndEmail').first()?.json ?? {};\n\n// Extract + normalize\nconst fullName = String(webhook.name ?? '').trim();\nconst email    = String(webhook.email ?? '').trim();\n\nconst parts = fullName.split(/\\s+/).filter(Boolean);\nconst firstName = parts[0] ?? '';\nconst lastName  = parts.slice(1).join(' ') ?? '';\n\nconst phoneNumber = String(e164.e164phone?.phone ?? '').trim();       // e.g. \"773-338-7786\" or \"+17733387786\"\nconst callingCode = String(e164.e164phone?.callingCode ?? '').trim();  // e.g. \"1\"\n\n// If you want to force E.164 when possible (optional):\n// const e164Number = phoneNumber.startsWith('+') ? phoneNumber : (callingCode ? `+${callingCode}${phoneNumber.replace(/\\D/g,'')}` : phoneNumber);\n\n// Build payload conditionally\nconst party = { type: 'person' };\n\nif (firstName) party.firstName = firstName;\nif (lastName)  party.lastName  = lastName;\n\nif (email) {\n  party.emailAddresses = [\n    { type: 'Work', address: email }\n  ];\n}\n\nif (phoneNumber) {\n  party.phoneNumbers = [\n    { type: null, number: phoneNumber } // or use e164Number if you enabled it above\n  ];\n}\n\nreturn [{ json: { party } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -96
      ],
      "id": "ded26ecd-9aa6-4827-81ba-4dfd89a0796c",
      "name": "crmPayload"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM crm c\nLEFT JOIN tenants t\nON t.crm_id = c.id\nWHERE t.omnichannel_id = {{ $('Webhook').item.json.body.account.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -672,
        -96
      ],
      "id": "c3fbd1b5-23cf-480c-853b-4e3aef265eb4",
      "name": "crmParameters",
      "credentials": {
        "postgres": {
          "id": "sFjAmyu4Pa6OFYZb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contact_link",
          "mode": "list",
          "cachedResultName": "contact_link"
        },
        "where": {
          "values": [
            {
              "column": "chatwoot_id",
              "value": "={{ $('Webhook').item.json.body.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -896,
        -96
      ],
      "id": "d61811c1-6c5c-4ccf-806d-838224172a89",
      "name": "getExistContact",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "sFjAmyu4Pa6OFYZb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contact_link",
          "mode": "list",
          "cachedResultName": "contact_link"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "crm_id": "={{ $json.party.id }}",
            "chatwoot_id": "={{ $('Webhook').item.json.body.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "chatwoot_id",
              "displayName": "chatwoot_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "crm_id",
              "displayName": "crm_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        -192
      ],
      "id": "f6a2c6f6-f434-476c-bc61-7d115dfa4f63",
      "name": "createContactLinkTable",
      "credentials": {
        "postgres": {
          "id": "sFjAmyu4Pa6OFYZb",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.capsulecrm.com/api/v2/parties",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('crmParameters').item.json.params.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('crmPayload').item.json }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -192
      ],
      "id": "24ff0ed5-47a5-474b-a269-7e5ff917642b",
      "name": "createCrmContact",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.capsulecrm.com/api/v2/parties/{{ $('getExistContact').item.json.crm_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('crmParameters').item.json.params.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('crmPayload').item.json }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "id": "e0a6ecc6-ca4e-44fc-91ab-b4876423b0b1",
      "name": "UpdateCrmContact",
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "e164phoneAndEmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "e164phoneAndEmail": {
      "main": [
        [
          {
            "node": "hasEmailOrPhone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hasEmailOrPhone": {
      "main": [
        [
          {
            "node": "getExistContact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isNewContact": {
      "main": [
        [
          {
            "node": "createCrmContact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UpdateCrmContact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crmPayload": {
      "main": [
        [
          {
            "node": "isNewContact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crmParameters": {
      "main": [
        [
          {
            "node": "crmPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getExistContact": {
      "main": [
        [
          {
            "node": "crmParameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "createCrmContact": {
      "main": [
        [
          {
            "node": "createContactLinkTable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9ff5495b-ddc8-45ac-a6aa-c38fba850cc9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17e053dabb63e7d6fdd630fe50869b07fb95f6ba50c6dfad1edc0fd43d7a9a78"
  },
  "id": "u9OYij084WPdp1LJ",
  "tags": []
}